<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
  <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
  <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
  <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
  <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
</div>

<div id="wrapper">

  <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
      <div id="header" class="nav-collapse">
          <div class="row clearfix">
              <div class="col-1">

                  <!--Logo-->
                  <div id="logo">

                      <!--Logo that is shown on the banner--
                      <img src="../assets/images/logo.png" id="banner-logo" alt="Landing Page"/>
                      <!--End of Banner Logo-->
                      <h1>Law-e</h1>
                      <!--The Logo that is shown on the sticky Navigation Bar--
                      <img src="../assets/images/logo-2.png" id="navigation-logo" alt="Landing Page"/>
                      <!--End of Navigation Logo-->

                  </div>
                  <!--End of Logo-->

                  <aside>

                      <!--Social Icons in Header-->
                      <ul class="social-icons">
                          <li>
                              <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
                                  <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                              </a>
                          </li>
                          <li>
                              <a target="_blank" title="Google+" href="http://google.com/+username">
                                  <i class="fa fa-google-plus fa-1x"></i><span>Google+</span>
                              </a>
                          </li>
                          <li>
                              <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
                                  <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
                              </a>
                          </li>
                          <li>
                              <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                                  <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                              </a>
                          </li>
                          <li>
                              <a target="_blank" title="behance" href="http://www.behance.net">
                                  <i class="fa fa-behance fa-1x"></i><span>Behance</span>
                              </a>
                          </li>
                      </ul>
                      <!--End of Social Icons in Header-->

                  </aside>

                  <!--Main Navigation-->
                  <nav id="nav-main">
                      <ul>
                          <li>
                              <a href="#banner">Начало</a>
                          </li>
                          <li>
                              <a href="#about">Защо Law-e? </a>
                          </li>
                          <li>
                              <a href="#services">Услуги</a>
                          </li>
                          <li>
                              <a href="#clients">Контакти</a>
                          </li>
                      </ul>
                  </nav>
                  <!--End of Main Navigation-->

                  <div id="nav-trigger"><span></span></div>
                  <nav id="nav-mobile"></nav>

              </div>
          </div>
      </div><!--End of Header-->

      <!--Banner Content-->
      <div id="banner-content" class="row clearfix">

          <div class="col-38">

              <div class="section-heading">
                  <h1>Добре дошли!</h1>
                  <h2><b>Law-e</b> е платформа, която предоставя списък на адвокати, адвокатски кантори и нотариуси, като предоставя възможност за записване на час за среща и/или консултация, в удобно за крайния потребител време. Платформата свързва търсещи (крайни потребители) и предлагащи адвокатски услуги, като има за цел консултациите да се извършват в удобно и за двете страни време и да гарантира високо качество на предоставяните услуги, съобразно цената. 
                    !</h2>
                    <h2>В момента <b>Law-e</b> е в процес на разработка, но не се колебайте да се свържете с нас за повече информация. Очакваме Ви! 
                      !</h2>
              </div>

              <!--Call to Action-->
              <a href="#clients" class="button">Свържете се с нас</a>
              <!--End Call to Action-->

          </div>

      </div><!--End of Row-->
  </header>

  <!--Main Content Area-->
  <main id="content">

      <!--Introduction-->
      <section id="about" class="introduction scrollto">

          <div class="row clearfix">

              <div class="col-3">
                  <div class="section-heading">
                      <h3>Успех</h3>
                      <h2 class="section-title">Защо <b>Law-e</b>?</h2>
                      <p class="section-subtitle">В днешното забързано ежедневие, се изискват много ресурси (време и пари), за да се открие добър специалист за юридически услуги. Намирането на точния специалист налага дълго и задълбочено проучване, което би загубило ценно време при по-сериозни и спешни казуси.!</p>
                  </div>

              </div>

              <div class="col-2-3">

                  <!--Icon Block-->
                  <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                      <!--Icon-->
                      <div class="icon">
                          <i class="fa fa-html5 fa-2x"></i>
                      </div>
                      <!--Icon Block Description-->
                      <div class="icon-block-description">
                          <h4>Без сляпо търсене</h4>
                          <p>Сляпото търсене в интернет в редки случаи би довело до успех, а форумите са пълни с противоречиви мнения и безплатни реклами.</p>
                      </div>
                  </div>
                  <!--End of Icon Block-->

                  <!--Icon Block-->
                  <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                      <!--Icon-->
                      <div class="icon">
                          <i class="fa fa-bolt fa-2x"></i>
                      </div>
                      <!--Icon Block Description-->
                      <div class="icon-block-description">
                          <h4>Лесно за използване</h4>
                          <p>Потребителите ще намират бързо и лесно специалист, чиито компетенции биха паснали напълно на юридическия казус, за който търсят консултация.</p>
                      </div>
                  </div>
                  <!--End of Icon Block-->

                  <!--Icon Block-->
                  <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                      <!--Icon-->
                      <div class="icon">
                          <i class="fa fa-tablet fa-2x"></i>
                      </div>
                      <!--Icon Block Description-->
                      <div class="icon-block-description">
                          <h4>Платформата</h4>
                          <p>Нуждите на бизнеса и крайният клиент ще бъдат задоволени чрез единна платформа, която в себе си ще събира и представя целия юридически бизнес - адвокатски кантори, самонаети адвокати, юрисконсулти, нотариуси и други.</p>
                      </div>
                  </div>
                  <!--End of Icon Block-->

                  <!--Icon Block-->
                  <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                      <!--Icon-->
                      <div class="icon">
                          <i class="fa fa-rocket fa-2x"></i>
                      </div>
                      <!--Icon Block Description-->
                      <div class="icon-block-description">
                          <h4>Сътрудничество</h4>
                          <p>Системата би помогнала и на двете страни - търсещи и предлагащи, за едно по-добро и качествено сътрудничество.
                          </p>
                      </div>
                  </div>
                  <!--End of Icon Block-->

              </div>

          </div>


      </section>
      <!--End of Introduction-->


      <!--Content Section-->
      <div id="services" class="scrollto clearfix">

          <div class="row no-padding-bottom clearfix">


              <!--Content Left Side-->
          
                
                  <div class="col-3">
                      <div class="section-heading">
                          <h2 class="section-title">Нашата мисия</h2>
                      </div>
                      <p>Да улесним търсещи и предлагащи, да ...ЗАБИХ.....и да ви дадем достъп до една по-качествена услуга </p>
                    </div>



              
              <!--End Content Left Side-->

              <!--Content of the Right Side-->
              <div class="col-3">
                  <div class="section-heading">
                      <h2 class="section-title">Услуги</h2>
                      <p class="section-subtitle">В момента <b>Law-e</b> е в процес на разработка!</p>
                  </div>
                  <p>Вашето мнение е много важно за нас, за това ще се радваме ако отделите 5 минути да попълните нашата анкета и да дадете вашата обратна връзка за нашата идея.
                  </p>
                  <p>
                    За всякакви въпроси и предложения, можете да се свържете с нас в Контакти.
                  </p>
                  <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
                  <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                      Попълнете нашата анкета<i class="fa fa-play" aria-hidden="true"></i>
                  </a>
              </div>
              <!--End Content Right Side-->

              <div class="col-3">
                  <img src="../assets/images/sign.jpg" alt="sign"/>
              </div>

          </div>


      </div>
      <!--End of Content Section-->

      <!--Clients-->
      <section id="clients" class="scrollto clearfix">
          <div class="row clearfix">

              <div class="col-3">

                  <div class="section-heading">
                      <h3>Доверие</h3>
                      <h2 class="section-title">Контакти</h2>
                      <p>Ние сме млад стартъп, който иска да раздвижи и развие юридическия бизнес в България. Текущо екипа ни е много малък, но активно търсим съмишленици и партньори, които да подпомогнат развитието и бъдещия успех на Law-e!
                      </p>
                      <p> <b>Електронна поща </b>: contact@law-e.com </p>
                      <p><b>Уеб сайт: </b> WEBSITE</p>
                      <p><b>Телефон:</b> 08835386087 </p>
                  </div>

              </div>
              <div class="col-2">
                  <img src="../assets/images/user-images/contact.jpg" alt="contact"/>
              </div>
          </div>
      </section>
      <!--End of Clients-->

  </main>
  <!--End Main Content Area-->


  <!--Footer-->
  <footer id="landing-footer" class="clearfix">
      <div class="row clearfix">

          <p id="copyright" class="col-2">Made by<a href="https://www.shapingrain.com">Law-e</a></p>

          <!--Social Icons in Footer-->
          <ul class="col-2 social-icons">
              <li>
                  <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
                      <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                  </a>
              </li>
              <li>
                  <a target="_blank" title="Google+" href="http://google.com/+username">
                      <i class="fa fa-google-plus fa-1x"></i><span>Google+</span>
                  </a>
              </li>
              <li>
                  <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
                      <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
                  </a>
              </li>
              <li>
                  <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                      <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                  </a>
              </li>
              <li>
                  <a target="_blank" title="behance" href="http://www.behance.net">
                      <i class="fa fa-behance fa-1x"></i><span>Behance</span>
                  </a>
              </li>
          </ul>
          <!--End of Social Icons in Footer-->
      </div>
  </footer>
  <!--End of Footer-->

</div>